In [2]:
# Import pandas
import pandas as pd

In [3]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [4]:
engine = create_engine('mysql+pymysql://copypathfromdatabase')

In [5]:
conn = engine.connect()

In [6]:
# read a simple query into DataFrame
df=pd.read_sql_query("SELECT * FROM data1202.vgsales", conn)

In [7]:
# print DataFrame 
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
df['Year'] = pd.to_datetime(df['Year'], format='%Y')

In [8]:
# Calculate average global sales before and after 2005
avg_sales_before_2005 = df[df['Year'] < '2005-01-01']['Global_Sales'].mean()
avg_sales_after_2005 = df[df['Year'] > '2005-01-01']['Global_Sales'].mean()
print(avg_sales_before_2005,avg_sales_after_2005)

print(avg_sales_before_2005,avg_sales_after_2005)

0.5402315183438476 nan
0.5402315183438476 nan

In [9]:
# Compare and print the results
if avg_sales_before_2005 > avg_sales_after_2005:
    print("The average global sales were higher before 2005.")
else:
    print("The average global sales were higher after 2005.")

The average global sales were higher after 2005.

In [7]:
# Create new column to label records before and after 2005
df['label'] = df['Year'].apply(lambda x: 'pre-2005' if x < 2005 else 'post-2005')

TypeError: '<' not supported between instances of 'Timestamp' and 'int'

In [28]:
# Display DataFrame with new column
print(df.head())

   Rank                      Name Platform  Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales      label
0     41.49     29.02      3.77         8.46         82.74  post-2005
1     29.08      3.58      6.81         0.77         40.24   pre-2005
2     15.85     12.88      3.79         3.31         35.82  post-2005
3     15.75     11.01      3.28         2.96         33.00  post-2005
4     11.27      8.89     10.22         1.00         31.37   pre-2005

In [29]:
#display of output with new column
print(df.tail())

        Rank                                              Name Platform  Year  \
16322  16596                Woody Woodpecker in Crazy Castle 5      GBA  2002
16323  16597                     Men in Black II: Alien Escape       GC  2003
16324  16598  SCORE International Baja 1000: The Official Game      PS2  2008
16325  16599                                        Know How 2       DS  2010
16326  16600                                  Spirits & Spells      GBA  2003

          Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
16322  Platform       Kemco      0.01      0.00       0.0          0.0
16323   Shooter  Infogrames      0.01      0.00       0.0          0.0
16324    Racing  Activision      0.00      0.00       0.0          0.0
16325    Puzzle    7G//AMES      0.00      0.01       0.0          0.0
16326  Platform     Wanadoo      0.01      0.00       0.0          0.0

       Global_Sales      label
16322          0.01   pre-2005
16323          0.01   pre-2005
16324          0.01  post-2005
16325          0.01  post-2005
16326          0.01   pre-2005

In [2]:
import pandas as pd

# Load the dataset into a Pandas DataFrame (assuming the dataset is already available)
df = pd.read_csv("vgsales.csv")

# Convert 'Year' column to datetime format
df['Year'] = pd.to_datetime(df['Year'], format='%Y')

# Calculate average global sales before and after 2005
avg_sales_before_2005 = df[df['Year'] < '2005-01-01']['Global_Sales'].mean()
avg_sales_after_2005 = df[df['Year'] >= '2005-01-01']['Global_Sales'].mean()
print(avg_sales_before_2005,avg_sales_after_2005)

# Compare averages
if avg_sales_before_2005 > avg_sales_after_2005:
    print("The average global sales were higher before 2005.")
else:
    print("The average global sales were higher after 2005.")

# Create a new column to label records before and after 2005
df['label'] = df['Year'].apply(lambda x: 'pre-2005' if x < pd.Timestamp('2005-01-01') else 'post-2005')

# Display the first few rows of the DataFrame with the new 'label' column
print(df[['Year', 'Global_Sales', 'label']].head())

0.5402315183438476 nan
The average global sales were higher after 2005.
        Year  Global_Sales     label
0 1905-01-01         82.74  pre-2005
1 1905-01-01         40.24  pre-2005
2 1905-01-01         35.82  pre-2005
3 1905-01-01         33.00  pre-2005
4 1905-01-01         31.37  pre-2005